body{
    text-align: center;
    background-color: #FFDAB9;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: #f99b45;
}

.red{
    background-color: #d95980;
}

.purple{
    background-color: #819ff9;
}
.green{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
.userflash{
    background-color:green;
}
/*mobile view*/
@media (max-width: 600px) {
    h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 1.1rem;
    }

    .btn{
        height: 110px;
        width: 110px;
        margin: 1rem;
        border: 6px solid black;
    }

    .btn-container{
        flex-direction: column;
        align-items: center;
    }
}

/*tablet view*/
@media (min-width: 601px) and (max-width: 900px) {
    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.3rem;
    }

    .btn{
        height: 150px;
        width: 150px;
        margin: 1.5rem;
        border: 8px solid black;
    }
}

